.tree {
    padding-inline-start: 10px;
    margin-bottom: 10px;
}
.tree li {
    display: block; /* Removes the bullet point */
}
.expLi {
    margin-bottom: 10px;
}
.container {
    display: grid;
    grid-gap: 0em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
.grid-item {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
.title-cell {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}
.grid-progress {
    padding-left: 10px;
    padding-right: 10px;
}

.progOuterDiv {
    width: 100px;
    background-color: #ddd;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    height: 15px;
}

.progInnerDiv {
    width: 0%;
    height: 15px;
    background-color: #4CAF50;
    text-align: left;
    line-height: 13px;
    color: black;
    vertical-align: middle;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    border: 0;
}

.viewLink {
    text-decoration: underline;
    color: blue;
}

.runExpBtn {
    margin-left: 5px;
    margin-right: 5px;
    width: 4em;
}